<!DOCTYPE html>
<!--<html xmlns:th="https://www.thymeleaf.org">-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lazybones Recipes</title>
    <link rel="stylesheet" href="/css/front.css" th:href="@{/css/front.css}">

</head>
<body>
<!--<p th:text="${test}"></p>-->
    <button></button>
    <p>TEST PARAGRAPH 1!</p>
    <div th:each="recipe: ${all}">
        <p th:text="${recipe.instructions}"></p>
    </div>
    <!--<p th:text="${recipes}"></p>-->
</body>
</html>