<!DOCTYPE html>
<!--<html xmlns:th="https://www.thymeleaf.org">-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Lazybones Recipes</title>
  <!--
      <link rel="stylesheet" href="/css/front.css" th:href="@{/css/front.css}">
  -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<!--<p th:text="'id: ' + ${search.id}" />-->
  <p th:text="'content: ' + ${search.content}" />
  <!--<div class="card-deck mx-auto">
    <div class="mx-auto d-flex">
      <div th:each="recipe: ${all}">
        <div class="card" style="width: 18rem;">
          <img src="/img/placeholder.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title" th:text="${recipe.name}"></h5>
          </div>
          <ul class="list-group list-group-flush" th:each="ingredient: ${recipe.ingredients}">
            <li class="list-group-item" th:text="${ingredient}"></li>
          </ul>
          <div class="card-body">
            <p class="card-text" th:text="${recipe.instructions}"></p>
          </div>
        </div>
      </div>
    </div>
  </div>-->


</body>
</html>