<!DOCTYPE html>
<!--<html xmlns:th="https://www.thymeleaf.org">-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Lazybones Recipes</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    #flex-wrap-me {flex-wrap: wrap; row-gap: 30px; }
  </style>
</head>
<body>
  <div class="card-deck mx-auto" style="display: flex; flex-direction: column;">
    <a th:href="@{/index}" style="align-self: center;">
      <img src="/img/lazy.png" alt="..." style="width: 200px; height: 200px">
    </a>
    <div class="mx-auto d-flex" id="flex-wrap-me">
      <div th:each="recipe: ${all}">
        <div class="card" style="width:18rem;">
          <a th:href="@{/singleRecipePage/{id}(id=${recipe.id})}">
          <!-- OLD <a th:href="@{/singleRecipePage/?id={id}(id=${recipe.id})}">-->
            <img th:src="@{${'/img/' + recipe.imageName+'.jpg'}}" class="card-img-top" style="width: 100%; height: 15vw; object-fit: cover;" alt="..."/>
          </a>
          <div class="card-body">
            <h5 class="card-title" th:text="${recipe.name}"></h5>
          </div>
          <ul class="list-group list-group-flush" th:each="ingredient: ${recipe.ingredients}">
            <li class="list-group-item" th:text="${ingredient}"></li>
          </ul>
          <div class="card-body">
            <p class="card-text" th:text="${recipe.instructions}"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>